@font-face {
    font-family: Caveat-medium;
    src: url("/lib/fonts/caveat/Caveat/static/Caveat-Medium.ttf");
}
@font-face {
    font-family: Roboto-regular;
    src: url("/lib/fonts/roboto/Roboto/Roboto-Regular.ttf");
}
#main{font-family: "Roboto-regular",Arial,Helvetica,sans-serif;font-weight: 600;}
#title1{text-align:center;margin-top:10px;font-family: "Caveat-medium",Arial,Helvetica,sans-serif;font-size:60px;font-weight: 800;}
#pageInfo{margin: 20px 50px 10px 50px}
#div4MaxPointComment{background-color: #dbdbdb;}